<%- include("header") -%>

    <h1 class="coll">Contact</h1>

    <div class="adres"><em>knAP museum</em><br>Ellermanstraat 33<br>2060 Antwerp <br>+32 3 220 33 00</div>

    <p>knAP museum is a pop-up museum located at AP campus Ellermanstraat. We bring art to students! Questions or feedback can be sent via the form below.</p>

    <div class="container">
        <form>
      
          <label for="fname">First name</label>
          <br>
          <input type="text" id="fname" name="firstname" placeholder="First name">
          <br>
          <label for="lname">Last name</label>
          <br>
          <input type="text" id="lname" name="lastname" placeholder="Last name">
          <br>
          <label for="subject">Subject</label>
          <br>
          <textarea id="subject" name="subject" placeholder="Write your message here" style="height:170px"></textarea>
          <br>
          <input class="zend" type="submit" value="Submit">
      
        </form>
      </div>


<%- include("footer") -%>
