<!doctype html>
<html>
	<head>
	<title>Portfolioapp</title>
	<link rel="stylesheet" href="/css/reset_plus.css">
	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/Isotope/style.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
			<%- include("nav"); -%>
